# build output
dist/

# dependencies
node_modules/

# local env files (Contains secret API Keys!)
.env
.env.production
.env.local

# astro cache
.astro/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# system files
.DS_Store
Thumbs.db
.vercel
scratch/
